@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

/* Global Styles */

* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
      to bottom,
      rgba(211, 215, 238, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("../images/background.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 75%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

h1 {
  font-family: "Special Elite", cursive;
  font-size: 2.8rem;
  margin: 0;
}

input[type="button"] {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Lora", serif;
  background-color: #4caf4fc9;
  border: none;
  color: white;
  padding: 0.3em 0.8em;
  text-decoration: none;
  margin: 0.3em;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="button"]:focus {
  text-decoration: underline;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}
