.container-game {
  display: flex;
  flex-direction: column;
}

.board-section {
  display: flex;
  flex-direction: column;
}

.container-players {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}
.status {
  font-family: "Zilla Slab", serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 3;
  text-decoration: underline;
}

.board {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 5px;
  max-width: 95%;
  min-height: 270px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.row {
  position: relative;
  border-bottom: 2px solid white;
  width: 100%;
  display: flex;
}

.row:last-child {
  border-bottom: 0;
}

.cell {
  position: relative;
  background-color: rgba(43, 41, 41, 0.932);
  /* border-right: 2px solid white; */
  padding: 2em;
  width: 100%;
}

/* .cell:first-child {
  border-left: 2px solid white;
} */

.player {
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  pointer-events: none;
}

.uncheck-cell {
  border-right: 2px solid white;
}

.uncheck-cell:first-child {
  border-left: 2px solid white;
}

.check-cell {
  border: 4px solid orange;
}

.check-cell:first-child {
  border-left: 4px solid orange;
}

@media (max-width: 750px) {
  .board {
    order: 99;
  }
  .container-players {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 751px) {
  .board {
    min-width: 500px;
    min-height: 320px;
  }

  .game-status {
    order: -1;
  }
}

@media (min-width: 900px) {
  .board {
    min-width: 600px;
    min-height: 420px;
  }
}
