@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");

.container-landing-page {
  display: flex;
  flex-direction: column;
}

.heroes-container {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  margin: 1em;
  padding: 1em;
  max-height: 150px;
  outline: 2px solid transparent;
  transition: all 0.5s ease-in-out;
  animation: moveInBottom 0.8s ease-out;
}

.game-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
  order: -1;
}

.game-title {
  margin-top: 2em;
  padding: 0.4em 0.2em;
  font-size: 2rem;
  text-align: center;
  animation: moveInRight 0.8s ease-out;
}

.under-lined {
  text-decoration: underline;
}

.not-selected:hover,
.not-selected:focus {
  outline: 2px solid rgba(216, 239, 243, 0.781);
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.no-click,
.selected {
  pointer-events: none;
}

.selected {
  outline: 2px solid whitesmoke;
  transform: scale(1.05);
  opacity: 1;
}

@media (min-width: 400px) {
  .heroes-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 500px) {
  .hero {
    max-height: 130px;
  }
  .heroes-container {
    margin-top: 3em;
  }
}

@media (min-width: 630px) {
  .heroes-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 930px) {
  .heroes-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 1em;
  }

  .game-buttons {
    order: 99;
    padding-top: 2em;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
