@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");
p {
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 23px;
  padding: 5px;
  animation: moveInRight 0.8s ease-out;
}

.hero {
  outline: 2px solid transparent;
  transition: all 0.5s ease-in-out;
  animation: moveInBottom 0.8s ease-out;
}

.hero:hover {
  outline: 2px solid rgba(216, 239, 243, 0.623);
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.selected {
  outline: 2px solid rgba(58, 133, 231, 0.815);
  transform: scale(1.08);
  opacity: 1;
  cursor: pointer;
}

.under-lined {
  text-decoration: underline;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
