.main-page {
  min-height: 100%;
}

header {
  background: transparent;
  padding: 0.3em;
  text-align: center;
  margin-bottom: 1em;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100px;
}

.header-title {
  order: 2;
}

.header-logo {
  max-width: 70px;
  opacity: 0.8;
  margin-bottom: 0.3em;
}

@media (min-width: 450px) {
  .container-header {
    flex-direction: row;
    justify-content: center;
  }
  .header-logo {
    margin-right: 0.5em;
  }
}

@media (min-width: 650px) {
  header {
    max-height: 100px;
  }
}
