.container-player {
  margin: 0.3em;
  animation: moveInLeft 0.8s ease-out;
}
.player-title {
  font-family: "Special Elite", cursive;
  display: inline-block;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  border-radius: 5px;
  border: 2px solid white;
}

.icon {
  padding: 0.3em;
  max-height: 60px;
  object-fit: contain;
  object-position: center;
}

.player-icon {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}
.icon-section {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 750px) {
  .icon-section {
    flex-direction: column;
  }
  .icon {
    max-height: 120px;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
